@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --sacramento: 'Sacramento', cursive;
    --unna: 'Unna', serif;
    --montesrat: 'Montserrat', sans-serif;
}

.bg-body-tertiary {
    background-color: #333 !important;
}

.nav-link {
    color: white !important;
    transition: 1s ease-in-out;
    font-size: 16px;
    font-family: var(--montesrat);
    font-weight: 600;
}

.nav-link:hover {
    color: #e08e9c !important;
}

.nav-item {
    padding: 10px 20px;
}

.signup{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.passEye {
    position: absolute;
    top: 40px;
    right: 10px;
}
.passEye i{
    cursor: pointer;
}
#eyeClose{
    display: none;
}

@media screen and (max-width : 768px) {
    .nav-link {
        font-size: 18px;
    }

    .nav-item {
        padding: 10px 0px;
    }
}